In [276]:
import pandas as pd
import numpy as np
import re, os
import sys

In [277]:
sys.stdout.encoding

'UTF-8'

In [278]:
path = '../data-output'
try:
    os.mkdir(path)
except OSError as error:
    pass  
    
raw_data = pd.read_csv("./raw-data/clubs.csv",  header=None)
raw_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,1,Real,Madrid,CF,ESP,53,14,476,285,81,110,1047,521,651.0,526.0,NaN
1,2,FC,Bayern,München,GER,39,6,382,229,76,77,804,373,534.0,431.0,NaN
2,3,FC,Barcelona,ESP,33,5,339,197,76,66,667,343,470,324.0,NaN,NaN
3,4,Manchester,United,ENG,30,3,293,160,69,64,533,284,389,249.0,NaN,NaN
4,5,Juventus,ITA,37,2,301,153,70,78,479,301,376,178,NaN,NaN,NaN

In [279]:
formatted_data = pd.DataFrame(columns = ['Position','Club','Country','Participated',
                                         'Titles','Played','Win','Draw','Loss','Goals For', 
                                         'Goals Against','Pts','Goal Diff'])

In [280]:
for index, record in raw_data.iterrows():
    StartFrom = 0
    Position = record[0]
    #if (index > 2):
    #    break
    for i in range(15,1,-1):
        if (pd.isna(record[i])):
            pass
        else:
            StartFrom = i
            break
      
    GoalDiff = record[StartFrom]
    Points = record[StartFrom-1]
    GA = record[StartFrom-2]
    GF = record[StartFrom-3]
    Loss = record[StartFrom-4]
    Draw = record[StartFrom-5]
    Win = record[StartFrom-6]
    Played = record[StartFrom-7]
    Titles = record[StartFrom-8]
    Part = record[StartFrom-9]
    Country = record[StartFrom-10]
    Club = ''
    for k in range(1,StartFrom-10):
        Club = Club + " "  + record[k]
    Club = Club.strip()
    
    club_series = pd.Series([Position,Club,Country,Part,Titles,Played,Win,Draw,Loss,GF,GA,Points,GoalDiff], 
                           index = ['Position','Club','Country','Participated', 'Titles','Played','Win','Draw', 'Loss','Goals For', 'Goals Against','Pts','Goal Diff'] )
    formatted_data = pd.concat([formatted_data, pd.DataFrame([club_series])], ignore_index=True)

/var/folders/wb/yd9d7tr11p1fxy8s2vvnkjfm0000gn/T/ipykernel_21389/3084733714.py:31: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  formatted_data = pd.concat([formatted_data, pd.DataFrame([club_series])], ignore_index=True)

In [281]:
formatted_data.shape

(536, 13)

In [282]:
formatted_data

,Position,Club,Country,Participated,Titles,Played,Win,Draw,Loss,Goals For,Goals Against,Pts,Goal Diff
0,1,Real Madrid CF,ESP,53,14,476,285,81,110,1047,521,651.0,526.0
1,2,FC Bayern München,GER,39,6,382,229,76,77,804,373,534.0,431.0
2,3,FC Barcelona,ESP,33,5,339,197,76,66,667,343,470.0,324.0
3,4,Manchester United,ENG,30,3,293,160,69,64,533,284,389.0,249.0
4,5,Juventus,ITA,37,2,301,153,70,78,479,301,376.0,178.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,532,CS Stade Dudelange,LUX,1,0,2,0,0,2,0,18,0.0,-18.0
532,533,Rabat Ajax FC,MLT,2,0,4,0,0,4,0,20,0.0,-20.0
533,534,Keflavík,ISL,4,0,8,0,0,8,5,35,0.0,-30.0
534,535,US Luxembourg,LUX,5,0,10,0,0,10,3,43,0.0,-40.0
535,536,FC Avenir Beggen,LUX,6,0,12,0,0,12,1,56,0.0,-55.0

In [283]:
formatted_data.to_csv("../data-output/AllTimeRankingByClub.csv", header=True, index=False, encoding='utf-16')

In [284]:
formatted_data.reset_index(drop=True, inplace=True)
formatted_data.set_index(["Position"])

,Club,Country,Participated,Titles,Played,Win,Draw,Loss,Goals For,Goals Against,Pts,Goal Diff
Position,,,,,,,,,,,,
1,Real Madrid CF,ESP,53,14,476,285,81,110,1047,521,651.0,526.0
2,FC Bayern München,GER,39,6,382,229,76,77,804,373,534.0,431.0
3,FC Barcelona,ESP,33,5,339,197,76,66,667,343,470.0,324.0
4,Manchester United,ENG,30,3,293,160,69,64,533,284,389.0,249.0
5,Juventus,ITA,37,2,301,153,70,78,479,301,376.0,178.0
...,...,...,...,...,...,...,...,...,...,...,...,...
532,CS Stade Dudelange,LUX,1,0,2,0,0,2,0,18,0.0,-18.0
533,Rabat Ajax FC,MLT,2,0,4,0,0,4,0,20,0.0,-20.0
534,Keflavík,ISL,4,0,8,0,0,8,5,35,0.0,-30.0
535,US Luxembourg,LUX,5,0,10,0,0,10,3,43,0.0,-40.0
536,FC Avenir Beggen,LUX,6,0,12,0,0,12,1,56,0.0,-55.0

In [285]:
formatted_data = formatted_data.astype({'Participated':'int32', 'Titles':'int32', 'Played':'int32','Win':'int32',
                                        'Draw':'int32','Loss':'int32','Goals For':'int32', 'Goals Against':'int32',
                                        'Pts':'int32','Goal Diff':'int32'})
formatted_data.dtypes

Position         object
Club             object
Country          object
Participated      int32
Titles            int32
Played            int32
Win               int32
Draw              int32
Loss              int32
Goals For         int32
Goals Against     int32
Pts               int32
Goal Diff         int32
dtype: object

In [286]:
#del Country_data
Country_data = formatted_data.groupby(formatted_data["Country"]).sum()

In [287]:
Country_data = Country_data.sort_values(by=['Pts','Win'], ascending=False)
Country_data.reset_index(drop=False, inplace=True)

In [288]:
country_dict = { "ESP": "Spain", "ENG": "England", "ITA" :"Italy", "GER":"Germany", "POR": "Portugal",
               "FRA":"France", "NED":"Netherlands", "POL":"Poland", "ROU":"Romania", "RUS":"Russia", 
               "AUT":"Austria", "SCO":"Scotland", "SRB":"Serbia", "SUI":"Switzerland", "SVK":"Slovakia",
               "SVN":"SLovenia", "TUR":"Turkey", "NOR":"Norway", "ISR":"Israel", "KAZ":"Kazakhstan", 
               "AZE":"Azerbaijan", "HUN":"Hungary", "GRE":"Greece", "FIN":"Finland", "DEN":"Denmark", 
                "SWE":"Swedend", "CZE":"Czech Republic", "CYP":"Cyprus", "CRO": "Croatia", "BUL":"Bulgaria", 
                "BLR":"Belarus", "BEL":"Belguim", "UKR":"Ukraine", "MDA" :"Moldova", "IRL":"Ireland", 
                "ALB":"Albania" , "MLT":"Malta", "LVA":"Latvia", "NIR":"Northern Ireland", "LTU":"Lithuania", 
               "GEO":"Georgia", "ISL":"Iceland", "ARM":"Armenia", "BIH":"Bosnia and Herzegovina",
               "LUX":"Luxemborg", "MKD":"North Macedonia", "EST":"Estonia", "WAL":"Wales", "FRO":"Faroe Island",
               "MNE":"Montegro", "KOS":"Kosovo", "GIB":"Gibraltar", "AND":"Andorra", "SMR":"San Marino"}

In [289]:
len(country_dict)

54

In [290]:
Country_data['Country'].nunique()

54

In [291]:
Country_data.rename(columns={"Country":"CountryCode"},inplace=True)
countries = []
for i, code in Country_data["CountryCode"].items():
    country = country_dict[code]
    countries.append(country)
Country_data["Country"]=countries

In [292]:
Country_data = Country_data[['Country','Participated','Titles','Played','Win','Draw','Loss','Goals For',
                            'Goals Against','Pts','Goal Diff']]

In [293]:
Country_data.index = np.arange(1,len(Country_data.index)+1)
Country_data

,Country,Participated,Titles,Played,Win,Draw,Loss,Goals For,Goals Against,Pts,Goal Diff
1,Spain,152,19,1379,717,313,349,2476,1492,1747,984
2,England,140,15,1278,676,280,322,2289,1299,1632,990
3,Germany,171,8,1216,573,250,393,2128,1589,1396,539
4,Italy,142,12,1127,528,285,314,1731,1219,1341,512
5,France,118,1,810,337,178,295,1214,1003,852,211
6,Portugal,109,4,708,296,161,251,1064,889,753,175
7,Netherlands,99,6,577,228,147,202,864,723,603,141
8,Scotland,80,1,443,186,89,168,648,582,461,66
9,Ukraine,68,0,430,171,98,161,589,571,440,18
10,Belguim,89,0,460,155,100,205,602,722,410,-120
11,Greece,89,0,447,140,112,195,522,667,392,-145
12,Russia,65,0,407,130,97,180,497,595,357,-98
13,Turkey,90,0,423,129,94,200,469,697,352,-228
14,Czech Republic,73,0,336,127,74,135,435,494,328,-59
15,Austria,80,0,343,129,66,148,491,529,324,-38
16,Switzerland,80,0,339,119,69,151,473,576,307,-103
17,Serbia,53,1,269,118,59,92,454,351,295,103
18,Romania,74,1,321,106,78,137,417,473,290,-56
19,Swedend,68,0,292,105,62,125,369,439,272,-70
20,Hungary,67,0,268,103,53,112,423,442,259,-19
21,Poland,67,0,258,109,38,111,379,399,256,-20
22,Denmark,76,0,301,93,69,139,372,500,255,-128
23,Bulgaria,63,0,254,91,49,114,362,382,231,-20
24,Norway,66,0,271,83,59,129,357,446,225,-89
25,Croatia,38,0,207,86,44,77,300,278,216,22
26,Cyprus,58,0,215,65,47,103,234,370,177,-136
27,Slovakia,36,0,156,61,36,59,202,204,158,-2
28,Israel,32,0,155,55,32,68,216,235,142,-19
29,Belarus,28,0,137,45,40,52,152,191,130,-39
30,Finland,61,0,185,52,25,108,194,397,129,-203
31,SLovenia,28,0,120,49,23,48,151,173,121,-22
32,Moldova,27,0,114,43,22,49,126,122,108,4
33,Azerbaijan,24,0,93,31,28,34,98,113,90,-15
34,Ireland,64,0,164,25,39,100,129,355,89,-226
35,Kazakhstan,20,0,73,27,20,26,90,106,74,-16
36,Albania,45,0,114,24,20,70,85,188,68,-103
37,Lithuania,28,0,84,25,16,43,87,137,66,-50
38,Malta,59,0,138,23,18,97,92,377,64,-285
39,Northern Ireland,60,0,139,14,36,89,101,326,64,-225
40,Latvia,28,0,83,24,14,45,86,131,62,-45
41,Iceland,56,0,131,20,22,89,108,323,62,-215
42,Georgia,28,0,81,23,12,46,88,133,58,-45
43,Armenia,27,0,79,20,17,42,74,121,57,-47
44,Luxemborg,65,0,145,19,16,110,117,473,54,-356
45,Bosnia and Herzegovina,26,0,68,20,10,38,65,108,50,-43
46,North Macedonia,27,0,77,14,22,41,67,114,50,-47
47,Estonia,28,0,68,13,15,40,59,125,41,-66
48,Wales,27,0,65,16,7,42,56,148,39,-92
49,Faroe Island,28,0,62,10,11,41,55,157,31,-102
50,Montegro,16,0,39,6,6,27,27,76,18,-49
51,Gibraltar,9,0,22,7,3,12,25,38,17,-13
52,Kosovo,6,0,17,7,2,8,21,25,16,-4
53,Andorra,16,0,33,4,6,23,21,70,14,-49
54,San Marino,16,0,27,1,3,23,10,68,5,-58

In [294]:
Country_data.to_csv("../data-output/AllTimeRankingByCountry.csv", header=True, index=True)

In [295]:
def ParseFile(fileName, Unit):
    Details = pd.DataFrame(columns=['Player', 'Club', Unit])
    Totals = pd.DataFrame(columns=['Player', Unit])

    f = open(fileName, "r", encoding='utf-8')
    lines = f.readlines()
    for line in lines:       
        # Split by ( so that we separate the player/coach from the club
        player = re.split(r'\(', line)
        
        # Store the name from the first item in the list
        player = player[0].strip()

        # for current season stats the line ends with (value)
        # this block stripes those out if they are present
        words = line.split()
        print ("-----> " + words[-1][0] + " -- " + line)
        if (words[-1][0] == r'\('):
            str_length = len(words[-1])+1
            line = line[:-str_length]
        #print ("**** " + line)
        
        totalgames = re.findall(r'\S+', line)
        totalgames = totalgames[-1].strip()
        #print (line + " -- " + totalgames)
        
        PlayerTotalSer = pd.Series([player,totalgames], index=['Player', Unit])
        Totals = pd.concat([Totals, pd.DataFrame(PlayerTotalSer)], ignore_index=True)

        clubs_string =[]
        clubs_string = re.findall(r'\([^\)]*\)', line)
        clubs_string = clubs_string[0].strip('(').strip(')')
        clubs = clubs_string.split(',')

        for i, club in enumerate(clubs):
            tempclub = club.partition('[')
            tempAppear = tempclub[-1][:-1].strip()
            if (tempAppear == ''):
                tempAppear = totalgames 
            playerSer = pd.Series([player, tempclub[0].strip(), tempAppear], index = ['Player', 'Club', Unit] )       
            Details = pd.concat([Details, pd.DataFrame(playerSer)], ignore_index=True)


        del clubs_string, clubs
    f.close()
    Details.columns.str.strip()
    Totals.columns.str.strip()
    return Details, Totals

In [296]:
PlayerAppearDetails, PlayerAppearTotals = ParseFile("./raw-data/players.txt", "Appearances")
PlayerGoalDetails, PlayerGoalTotals = ParseFile("./raw-data/playergoals.txt", "Goals")

-----> 1 -- Cristiano Ronaldo (Real Madrid CF [101], Juventus [23], Manchester United FC [59]) 183

-----> 1 -- Iker Casillas (Real Madrid CF [150], FC Porto [27]) 177

-----> ( -- Lionel Messi (FC Barcelona [149], Paris Saint-Germain [14]) 163 (7)

-----> ( -- Karim Benzema (Olympique Lyonnais [19], Real Madrid CF [133]) 152 (10)

-----> 1 -- Xavi Hernández (FC Barcelona) 151

-----> 1 -- Raúl González (Real Madrid CF [130], FC Schalke 04 [12]) 142

-----> ( -- Thomas Müller (FC Bayern München) 142 (8)

-----> 1 -- Ryan Giggs (Manchester United FC) 141

-----> ( -- Toni Kroos (FC Bayern München [41], Real Madrid CF [98]) 139 (12)

-----> ( -- Sergio Ramos (Real Madrid CF [129], Paris Saint-Germain [8]) 137 (8)

-----> ( -- Manuel Neuer (FC Schalke 04 [22], FC Bayern München [109]) 131 (3)

-----> 1 -- Andrés Iniesta (FC Barcelona) 130

-----> ( -- Sergio Busquets (FC Barcelona) 129 (4)

-----> ( -- Gerard Piqué (Manchester United FC [4], FC Barcelona [124]) 128 (4)

-----> 1 -- Clarence Seedorf (AFC Ajax [11], Real Madrid CF [25], AC Milan [89]) 125

-----> 1 -- Gianluigi Buffon (Parma FC [6], Paris Saint-Germain [5], Juventus [113]) 124

-----> 1 -- Zlatan Ibrahimović (AFC Ajax [19], Juventus [19], FC Internazionale Milano [22], FC Barcelona [10], Paris Saint-Germain [33], Manchester United FC [1], AC Milan [20]) 124

-----> 1 -- Paul Scholes (Manchester United FC) 124

-----> 1 -- Roberto Carlos (Real Madrid CF [107], Fenerbahçe SK [13]) 120

-----> 1 -- Xabi Alonso (Real Sociedad de Fútbol [8], Liverpool FC [39], Real Madrid CF [47], FC Bayern München [25]) 119

-----> ( -- Luka Modrić (Tottenham Hotspur [8], Real Madrid CF [109]) 117 (10)

-----> 1 -- Carles Puyol (FC Barcelona) 115

-----> ( -- David Alaba (FC Bayern München [91], Real Madrid CF [23]) 114 (11)

-----> ( -- Pepe (Real Madrid CF [71], Beşiktaş JK [6], FC Porto [36]) 113 (4)

-----> 1 -- Thierry Henry (AS Monaco FC [9], FC Barcelona [26], Arsenal FC [77]) 112

-----> 1 -- Philipp Lahm (VfB Stuttgart [7], FC Bayern München [105]) 112

-----> 1 -- Dani Alves (Sevilla FC [8], FC Barcelona [80], Juventus [12], Paris Saint-Germain [11]) 111

-----> 1 -- Petr Čech (AC Sparta Praha [12], Chelsea FC [94], Arsenal FC [5]) 111

-----> ( -- Robert Lewandowski (Borussia Dortmund [28], FC Bayern München [78], FC Barcelona [5]) 111 (5)

-----> 1 -- Arjen Robben (PSV Eindhoven [10], Chelsea FC [19], Real Madrid CF [11], FC Bayern München [70]) 110

-----> 1 -- Paolo Maldini (AC Milan) 109

-----> 1 -- Gary Neville (Manchester United FC) 109

-----> 1 -- John Terry (Chelsea FC) 109

-----> 1 -- Ashley Cole (Arsenal FC [45], Chelsea FC [60], AS Roma [3]) 108

-----> 1 -- Patrice Evra (AS Monaco FC [21], Manchester United FC [65], Juventus [22]) 108

-----> 1 -- Andrea Pirlo (FC Internazionale Milano [5], AC Milan [78], Juventus [25]) 108

-----> 1 -- David Beckham (Manchester United FC [77], Real Madrid CF [26], AC Milan [2], Paris Saint-Germain [2]) 107

-----> 1 -- Víctor Valdés (FC Barcelona) 106

-----> ( -- Thiago Silva (AC Milan [20], Paris Saint-Germain [60], Chelsea FC [25]) 105 (8)

-----> 1 -- Frank Lampard (Chelsea FC [102], Manchester City FC [3]) 105

-----> 1 -- Cesc Fàbregas (Arsenal FC [55], FC Barcelona [26], Chelsea FC [23]) 104

-----> 1 -- Oliver Kahn (FC Bayern München) 103

-----> 1 -- Luís Figo (FC Barcelona [24], Real Madrid CF [58], FC Internazionale Milano [21]) 103

-----> 1 -- Fernandinho (FC Shakhtar Donetsk [30], Manchester City FC [73]) 103

-----> ( -- Ángel Di María (SL Benfica [6], Real Madrid CF [39], Paris Saint-Germain [54], Juventus [3]) 102 (3)

-----> 1 -- Marcelo (Real Madrid CF) 102

-----> 1 -- Andriy Shevchenko (AC Milan [59], Chelsea FC [15], FC Dynamo Kyiv [26]) 100

-----> 9 -- Alessandro Nesta (SS Lazio [21], AC Milan [78]) 99

-----> 9 -- Edwin van der Sar (AFC Ajax [38], Juventus [6], Manchester United FC [54]) 98

-----> 9 -- Guti (Real Madrid CF) 97

-----> 9 -- Javier Zanetti (FC Internazionale Milano) 97

-----> 9 -- Claude Makelele (FC Nantes [9], Real Madrid CF [38], Chelsea FC [49]) 96

-----> 9 -- Javier Mascherano (Liverpool FC [28], FC Barcelona [68]) 96

-----> 9 -- Bastian Schweinsteiger (FC Bayern München [89], Manchester United FC [6]) 95

-----> 9 -- Maxwell (AFC Ajax [23], FC Internazionale Milano [13], FC Barcelona [17], Paris Saint-Germain [41]) 94

-----> 9 -- Michael Ballack (1. FC Kaiserslautern [6], FC Bayern München [28], Chelsea FC [33], Bayer 04 Leverkusen [26]) 93

-----> 9 -- Rio Ferdinand (Leeds United [7], Manchester United FC [86]) 93

-----> 9 -- Fernando Morientes (AS Monaco FC [12], Real Madrid CF [58], Liverpool FC [5], Valencia CF [14], Olympique de Marseille [4]) 93

-----> 9 -- Didier Drogba (Olympique de Marseille [6], Galatasaray AŞ [12], Chelsea FC [74]) 92

-----> ( -- Ivan Rakitić (FC Schalke 04 [12], FC Barcelona [60], Sevilla FC [19]) 91 (6)

-----> 8 -- Alessandro Del Piero (Juventus) 88

-----> 8 -- Hasan Salihamidžić (FC Bayern München [85], Juventus [3]) 88

-----> 8 -- Raphaël Varane (Real Madrid CF [83], Manchester United FC [5]) 88

-----> ( -- İlkay Gündoğan (Borussia Dortmund [20], Manchester City FC [67]) 87 (13)

-----> ( -- Bernardo Silva (AS Monaco FC [18], Manchester City FC [61]) 79 (13)

-----> 7 -- Esteban Cambiasso (Real Madrid CF [14], FC Internazionale Milano [62], Olympiacos FC [3]) 79

-----> ( -- Dani Carvajal (Real Madrid CF) 79 (11)

-----> 7 -- Phillip Cocu (FC Barcelona [46], PSV Eindhoven [33]) 79

-----> 7 -- Gennaro Gattuso (AC Milan) 79

-----> ( -- Mohamed Salah (FC Basel 1893 [6], Chelsea FC [2], AS Roma [7], Liverpool FC [64]) 79 (8)

-----> 7 -- Fernando Torres (Liverpool FC [21], Chelsea FC [29], Club Atlético de Madrid [29]) 79

-----> ( -- Marco Verratti (Paris Saint-Germain) 79 (7)

-----> ( -- Isco (Valencia CF [2], Málaga CF [8], Real Madrid CF [62], Sevilla FC [6]) 78 (6)

-----> 7 -- Samuel Eto’o (Real Madrid CF [3], RCD Mallorca [5], FC Barcelona [38], FC Internazionale Milano [23], Chelsea FC [9]) 78

-----> ( -- Alex Sandro (FC Porto [21], Juventus [57]) 78 (4)

-----> ( -- Mats Hummels (FC Bayern München [24], Borussia Dortmund [53]) 77 (4)

-----> 7 -- Sami Khedira (VfB Stuttgart [11], Real Madrid CF [34], Juventus [32]) 77

-----> 7 -- Olexandr Shovkovskiy (FC Dynamo Kyiv) 77

-----> 7 -- Ole Gunnar Solskjær (Manchester United FC) 77

-----> 7 -- Alessio Tacchinardi (Juventus [69], Villarreal CF [8]) 77

-----> 7 -- Douglas Costa (FC Shakhtar Donetsk [34], Juventus [16], FC Bayern München [26]) 76

-----> 7 -- Michael Essien (Olympique Lyonnais [18], Chelsea FC [49], Real Madrid CF [7], AC Milan [2]) 76

-----> 7 -- Pepe Reina (FC Barcelona [4], Liverpool FC [46], FC Bayern München [0], SSC Napoli [19], SS Lazio [7]) 76

-----> 7 -- Pedro Rodríguez (FC Barcelona [60], Chelsea FC [16]) 76

-----> 7 -- Wesley Sneijder (AFC Ajax [19], Real Madrid CF [9], FC Internazionale Milano [25], Galatasaray AŞ [23]) 76

-----> ( -- Marc-André ter Stegen (FC Barcelona) 76 (5)

-----> 7 -- Mark van Bommel (PSV Eindhoven [31], FC Barcelona [9], FC Bayern München [30], AC Milan [6]) 76

-----> 7 -- Patrick Vieira (Arsenal FC [57], Juventus [7], FC Internazionale Milano [12]) 76

-----> 7 -- Sylvain Wiltord (FC Girondins de Bordeaux [12], Arsenal FC [40], Olympique Lyonnais [24]) 76

-----> ( -- César Azpilicueta (Olympique de Marseille [12], Chelsea FC [63]) 75 (5)

-----> ( -- Thibaut Courtois (Club Atlético de Madrid [12], Chelsea FC [16], Real Madrid CF [47]) 75 (10)

-----> 7 -- Deco (FC Porto [35], FC Barcelona [32], Chelsea FC [8]) 75

-----> ( -- Edin Džeko (VfL Wolfsburg [6], Manchester City FC [24], AS Roma [25], FC Internazionale Milano [20]) 75 (13)

-----> 7 -- Giorgio Chiellini (Juventus) 74

-----> 7 -- Edgar Davids (AFC Ajax [18], AC Milan [4], Juventus [48], FC Internazionale Milano [4]) 74

-----> 7 -- Pavel Nedvěd (SS Lazio [22], Juventus [52]) 74

-----> 8 -- Iván Helguera (Real Madrid CF [81], Valencia CF [6]) 87

-----> 8 -- Franck Ribéry (FC Bayern München) 87

-----> 8 -- Dejan Stanković (SS Lazio [31], FC Internazionale Milano [56]) 87

-----> 8 -- Ricardo Carvalho (FC Porto [21], Chelsea FC [47], Real Madrid CF [12], AS Monaco FC [6]) 86

-----> 8 -- Kaká (Real Madrid CF [24], AC Milan [62]) 86

-----> ( -- Koke (Club Atlético de Madrid) 86 (4)

-----> 8 -- Jérôme Boateng (FC Bayern München) 85

-----> ( -- Antoine Griezmann (Real Sociedad de Fútbol [6], FC Barcelona [16], Club Atlético de Madrid [63]) 85 (6)

-----> 8 -- Wayne Rooney (Manchester United FC) 85

-----> ( -- Jordi Alba (Valencia CF [7], FC Barcelona [77]) 84 (2)

-----> ( -- Leonardo Bonucci (Juventus) 84 (6)

-----> 8 -- Lúcio (Bayer 04 Leverkusen [22], FC Bayern München [32], FC Internazionale Milano [27], Juventus [2]) 83

-----> 8 -- Gonzalo Higuaín (Real Madrid CF [48], SSC Napoli [5], Juventus [30]) 83

-----> 8 -- Florent Malouda (Olympique Lyonnais [36], Chelsea FC [47]) 83

-----> 8 -- Miralem Pjanić (Olympique Lyonnais [21], AS Roma [13], Juventus [38], FC Barcelona [8], Beşiktaş JK [3]) 83

-----> 8 -- Arturo Vidal (Juventus [27], FC Bayern München [27], FC Barcelona [18], FC Internazionale Milano [11]) 83

-----> 8 -- Massimo Ambrosini (AC Milan) 82

-----> 8 -- Thiago Motta (FC Barcelona [32], FC Internazionale Milano [15], Paris Saint-Germain [35]) 82

-----> 8 -- Robert Pirès (Olympique de Marseille [11], Arsenal FC [63], Villarreal CF [8]) 82

-----> 8 -- Mikaël Silvestre (FC Internazionale Milano [6], Manchester United FC [64], Arsenal FC [9], SV Werder Bremen [3]) 82

-----> ( -- Raheem Sterling (Liverpool FC [6], Manchester City FC [67], Chelsea FC [9]) 82 (9)

-----> ( -- Marquinhos (Paris Saint-Germain) 81 (8)

-----> 8 -- Casemiro (FC Porto [8], Real Madrid CF [73]) 81

-----> ( -- Neymar (FC Barcelona [40], Paris Saint-Germain [41]) 81 (6)

-----> 8 -- Frank de Boer (AFC Ajax [34], FC Barcelona [41], Galatasaray AŞ [6]) 81

-----> 8 -- Sergei Ignashevich (FC Lokomotiv Moskva [23], PFC CSKA Moskva [58]) 81

-----> 8 -- Filippo Inzaghi (Juventus [26], AC Milan [55]) 81

-----> 8 -- Míchel Salgado (Real Madrid CF) 81

-----> ( -- Thiago Alcántara (FC Barcelona [10], FC Bayern München [51], Liverpool FC [19]) 80 (5)

-----> 8 -- Jamie Carragher (Liverpool FC) 80

-----> 8 -- Zinédine Zidane (Juventus [35], Real Madrid CF [45]) 80

-----> 7 -- Sergio Agüero (Club Atlético de Madrid [14], Manchester City FC [64], FC Barcelona [1]) 79

-----> ( -- Jan Oblak (SL Benfica [0], Club Atlético de Madrid [74]) 74 (5)

-----> ( -- Nicolás Otamendi (FC Porto [17], Manchester City FC [39], SL Benfica [18]) 74 (9)

-----> 7 -- Christian Panucci (AC Milan [21], Real Madrid CF [15], AS Roma [38]) 74

-----> 7 -- Michael Reiziger (AFC Ajax [20], AC Milan [3], FC Barcelona [41], PSV Eindhoven [10]) 74

-----> 7 -- John Arne Riise (AS Monaco FC [2], Liverpool FC [58], AS Roma [13], APOEL FC [1]) 74

-----> 7 -- Rivaldo (FC Barcelona [43], AC Milan [13], Olympiacos FC [17]) 73

-----> 7 -- Gaël Clichy (Arsenal FC [42], Manchester City FC [31]) 73

-----> 7 -- Steven Gerrard (Liverpool FC) 73

-----> 7 -- Sidney Govou (Olympique Lyonnais [71], Panathinaikos FC [2]) 73

-----> ( -- James Milner (Manchester City FC [20], Liverpool FC [53]) 73 (8)

-----> 7 -- Claudio Pizarro (Chelsea FC [2], SV Werder Bremen [9], FC Bayern München [62]) 73

-----> 7 -- Luis Suárez (AFC Ajax [5], FC Barcelona [55], Club Atlético de Madrid [13]) 73

-----> 7 -- Ruud van Nistelrooy (PSV Eindhoven [11], Manchester United FC [43], Real Madrid CF [19]) 73

-----> 7 -- Dida (AC Milan) 72

-----> 7 -- Rafinha (FC Schalke 04 [15], FC Bayern München [51], Olympiacos FC [6]) 72

-----> 7 -- Samuel Kuffour (FC Bayern München) 72

-----> ( -- Álvaro Morata (Real Madrid CF [15], Chelsea FC [7], Juventus [35], Club Atlético de Madrid [15]) 72 (5)

-----> 7 -- Andriy Pyatov (FC Shakhtar Donetsk) 72

-----> 7 -- Anthony Réveillère (Valencia CF [6], Olympique Lyonnais [66]) 72

-----> 7 -- Walter Samuel (AS Roma [22], Real Madrid CF [6], FC Internazionale Milano [40], FC Basel 1893 [4]) 72

-----> ( -- Fabinho (AS Monaco FC [25], Liverpool FC [47]) 72 (8)

-----> 7 -- Raúl Albiol (Valencia CF [15], Real Madrid CF [21], SSC Napoli [23], Villarreal CF [12]) 71

-----> 7 -- Willian (FC Shakhtar Donetsk [30], Chelsea FC [41]) 71

-----> 7 -- William Gallas (Olympique de Marseille [7], Chelsea FC [30], Arsenal FC [26], Tottenham Hotspur [8]) 71

-----> 7 -- Roy Keane (Manchester United FC) 71

-----> 7 -- Patrick Kluivert (AFC Ajax [22], FC Barcelona [46], PSV Eindhoven [3]) 71

-----> 7 -- John O’Shea (Manchester United FC) 71

-----> ( -- Ederson (SL Benfica [10], Manchester City FC [61]) 71 (11)

-----> ( -- Fernando (FC Porto [34], Manchester City FC [19], Galatasaray AŞ [4], Sevilla FC [14]) 71 (1)

-----> 7 -- Roar Strand (Rosenborg BK) 71

-----> ( -- Axel Witsel (R. Standard de Liège [6], SL Benfica [10], FC Zenit [24], Borussia Dortmund [25], Club Atlético de Madrid [6]) 71 (6)

-----> 7 -- Michael Carrick (Manchester United FC) 70

-----> 7 -- Edinson Cavani (SSC Napoli [8], Paris Saint-Germain [54], Manchester United FC [8]) 70

-----> 7 -- David Silva (Valencia CF [15], Manchester City FC [55]) 70

-----> ( -- Kevin De Bruyne (KRC Genk [4], Chelsea FC [3], Manchester City FC [63]) 70 (10)

-----> 7 -- Kakha Kaladze (FC Dynamo Kyiv [24], AC Milan [46]) 70

-----> ( -- Joshua Kimmich (FC Bayern München) 70 (9)

-----> ( -- Hugo Lloris (Olympique Lyonnais [36], Tottenham Hotspur [34]) 70 (6)

-----> 7 -- Yaroslav Rakits’kyy (FC Shakhtar Donetsk [53], FC Zenit [17]) 70

-----> 7 -- Tomáš Rosický (AC Sparta Praha [18], Borussia Dortmund [13], Arsenal FC [39]) 70

-----> 7 -- Mehmet Scholl (FC Bayern München) 70

-----> 7 -- Yaya Touré (Olympiacos FC [6], FC Barcelona [27], Manchester City FC [37]) 70

-----> 7 -- Gianluca Zambrotta (Juventus [44], FC Barcelona [13], AC Milan [13]) 70

-----> 6 -- Giovane Elber (FC Bayern München [60], Olympique Lyonnais [9]) 69

-----> ( -- Mario Götze (FC Bayern München [26], Borussia Dortmund [36], Eintracht Frankfurt [7]) 69 (7)

-----> ( -- Saúl Ñíguez (Chelsea FC [5], Club Atlético de Madrid [64]) 69 (5)

-----> 6 -- Mesut Özil (FC Schalke 04 [4], SV Werder Bremen [6], Real Madrid CF [31], Arsenal FC [28]) 69

-----> ( -- Alexis Sánchez (FC Barcelona [24], Arsenal FC [22], Manchester United FC [6], FC Internazionale Milano [12], Olympique de Marseille [5]) 69 (5)

-----> 6 -- Nicolas Anelka (Arsenal FC [5], Real Madrid CF [10], Paris Saint-Germain [9], Fenerbahçe SK [6], Chelsea FC [37], Juventus [1]) 68

-----> 6 -- Álvaro Arbeloa (Liverpool FC [22], Real Madrid CF [46]) 68

-----> 6 -- Blaise Matuidi (Paris Saint-Germain [45], Juventus [23]) 68

-----> 6 -- Fernando Hierro (Real Madrid CF) 68

-----> ( -- Wojciech Szczęsny (Arsenal FC [23], AS Roma [8], Juventus [37]) 68 (4)

-----> 6 -- Nicky Butt (Manchester United FC) 67

-----> 6 -- Martín Demichelis (FC Bayern München [43], Málaga CF [9], Manchester City FC [15]) 67

-----> 6 -- Jens Lehmann (Borussia Dortmund [24], Arsenal FC [35], VfB Stuttgart [8]) 67

-----> ( -- Jesús Navas (Manchester City FC [30], Sevilla FC [37]) 67 (3)

-----> 6 -- Gianluca Pessotto (Juventus) 67

-----> 6 -- Lilian Thuram (AS Monaco FC [6], Parma FC [6], Juventus [45], FC Barcelona [10]) 67

-----> 6 -- Kolo Touré (Arsenal FC [61], Manchester City FC [1], Liverpool FC [2], Celtic FC [3]) 67

-----> 6 -- Gareth Bale (Tottenham Hotspur [9], Real Madrid CF [57]) 66

-----> 6 -- Alex (PSV Eindhoven [26], Chelsea FC [24], Paris Saint-Germain [16]) 66

-----> 6 -- Emmanuel Eboué (Arsenal FC [48], Galatasaray AŞ [18]) 66

-----> 6 -- Javi Martínez (FC Bayern München) 66

-----> 6 -- Santiago Cañizares (Real Madrid CF [7], Valencia CF [58]) 65

-----> 6 -- Alessandro Costacurta (AC Milan) 65

-----> 6 -- Hernán Crespo (Parma FC [6], SS Lazio [11], AC Milan [10], Chelsea FC [15], FC Internazionale Milano [23]) 65

-----> ( -- Julian Draxler (FC Schalke 04 [23], VfL Wolfsburg [9], Paris Saint-Germain [30], SL Benfica [3]) 65 (3)

-----> ( -- Mateo Kovačić (GNK Dinamo Zagreb [12], Real Madrid CF [21], Chelsea FC [32]) 65 (8)

-----> 6 -- José Bosingwa (Boavista FC [8], FC Porto [31], Chelsea FC [25]) 64

-----> ( -- João Félix (SL Benfica [1], Club Atlético de Madrid [27], Chelsea FC [4]) 64 (5)

-----> 6 -- Diego Godín (Villarreal CF [7], Club Atlético de Madrid [52], FC Internazionale Milano [5]) 64

-----> 6 -- Branislav Ivanović (Chelsea FC [58], FC Zenit [6]) 64

-----> 6 -- Fredrik Ljungberg (Arsenal FC) 64

-----> ( -- Sadio Mané (Liverpool FC [55], FC Bayern München [9]) 64 (9)

-----> 6 -- Willy Sagnol (AS Monaco FC [8], FC Bayern München [56]) 64

-----> 6 -- Júlio César (FC Internazionale Milano [52], SL Benfica [12]) 64

-----> 6 -- Wes Brown (Manchester United FC) 63

-----> 6 -- Lucho González (Olympique de Marseille [19], FC Porto [44]) 63

-----> 6 -- Keylor Navas (Real Madrid CF [39], Paris Saint-Germain [24]) 63

-----> 6 -- Darijo Srna (FC Shakhtar Donetsk) 63

-----> 6 -- Éric Abidal (AS Monaco FC [1], Olympique Lyonnais [20], FC Barcelona [35], Olympiacos FC [6]) 62

-----> 6 -- Jörg Butt (Hamburger SV [6], Bayer 04 Leverkusen [35], SL Benfica [0], FC Bayern München [21]) 62

-----> 6 -- Zé Roberto (Real Madrid CF [4], Bayer 04 Leverkusen [21], FC Bayern München [37]) 62

-----> ( -- Danilo (FC Porto [21], Real Madrid CF [10], Manchester City FC [8], Juventus [23]) 62 (5)

-----> 6 -- Predrag Djordjević (Olympiacos FC) 62

-----> 6 -- Emerson (Bayer 04 Leverkusen [13], AS Roma [22], Juventus [18], Real Madrid CF [6], AC Milan [3]) 62

-----> 6 -- Darren Fletcher (Manchester United FC) 62

-----> 6 -- Tomáš Hübschman (AC Sparta Praha [19], FC Shakhtar Donetsk [43]) 62

-----> 6 -- Seydou Keita (Olympique de Marseille [3], RC Lens [5], Sevilla FC [7], FC Barcelona [39], AS Roma [8]) 62

-----> 6 -- Bixente Lizarazu (FC Bayern München) 62

-----> 6 -- Jaap Stam (PSV Eindhoven [5], Manchester United FC [30], SS Lazio [10], AC Milan [17]) 62

-----> ( -- Daley Blind (Manchester United FC [12], AFC Ajax [49]) 61 (5)

-----> 6 -- Fabio Cannavaro (Parma FC [5], FC Internazionale Milano [17], Real Madrid CF [19], Juventus [20]) 61

-----> 6 -- Grégory Coupet (Olympique Lyonnais [59], Club Atlético de Madrid [2]) 61

-----> 6 -- Luisão (SL Benfica) 61

-----> 6 -- Daniele De Rossi (AS Roma) 61

-----> 6 -- Didier Deschamps (Olympique de Marseille [7], Juventus [35], Chelsea FC [13], Valencia CF [6]) 61

-----> ( -- Eden Hazard (LOSC Lille [6], Chelsea FC [38], Real Madrid CF [17]) 61 (3)

-----> 6 -- João Moutinho (Sporting Clube de Portugal [20], FC Porto [14], AS Monaco FC [27]) 61

-----> 6 -- Roy Makaay (Real Club Deportivo La Coruña [29], FC Bayern München [32]) 61

-----> ( -- Kylian Mbappé (AS Monaco FC [9], Paris Saint-Germain [52]) 61 (8)

-----> 6 -- Antonis Nikopolidis (Panathinaikos FC [28], Olympiacos FC [33]) 61

-----> 6 -- Roque Santa Cruz (FC Bayern München [51], Málaga CF [10]) 61

-----> 6 -- Santiago Solari (Real Madrid CF [48], FC Internazionale Milano [13]) 61

-----> 6 -- Igor Akinfeev (PFC CSKA Moskva) 60

-----> 6 -- Nani (Manchester United FC [49], Sporting Clube de Portugal [11]) 60

-----> 6 -- Ricardo Quaresma (FC Internazionale Milano [8], FC Porto [39], Beşiktaş JK [13]) 60

-----> 6 -- Dimitar Berbatov (Bayer 04 Leverkusen [26], Manchester United FC [25], AS Monaco FC [9]) 60

-----> 6 -- Iván Córdoba (FC Internazionale Milano) 60

-----> ( -- Ángel Correa (Club Atlético de Madrid) 60 (6)

-----> 6 -- Jefferson Farfán (PSV Eindhoven [34], FC Schalke 04 [22], FC Lokomotiv Moskva [4]) 60

-----> 6 -- Erik Hoftun (Rosenborg BK) 60

-----> 6 -- Nwankwo Kanu (AFC Ajax [16], Arsenal FC [44]) 60

-----> 6 -- Mario Mandžukić (FC Bayern München [20], Club Atlético de Madrid [10], Juventus [30]) 60

-----> ( -- Adrien Rabiot (Paris Saint-Germain [36], Juventus [24]) 60 (5)

-----> ( -- Lucas Moura (Paris Saint-Germain [38], Tottenham Hotspur [22]) 60 (3)


In [191]:
PlayerAppearDetails.to_csv("../data-output/PlayerAppearDetails.csv", header=True, index=True)
PlayerAppearTotals.to_csv("../data-output/PlayerAppearTotals.csv", header=True, index=True)
PlayerGoalDetails.to_csv("../data-output/PlayerGoalDetails.csv", header=True, index=True)
PlayerGoalTotals.to_csv("../data-output/PlayerGoalTotals.csv", header=True, index=True)

In [23]:
CoachesAppearDetails, CoachesAppearTotals = ParseFile("./raw-data/Coaches.txt", "Appearance")
CoachesAppearDetails.rename({"Player":"Coach"},axis=1, inplace=True)
CoachesAppearTotals.rename({"Player":"Coach"},axis=1, inplace=True)

In [24]:
CoachesAppearTotals
CoachesAppearDetails.to_csv(os.path.join(path,"../data-output/CoachesAppearDetails.csv"), header=True, index=True)
CoachesAppearTotals.to_csv(os.path.join(path,"../data-output/CoachesAppearTotals.csv"), header=True, index=True)

In [25]:
TopGoalScorer = pd.DataFrame(columns=['Year', 'Player', 'Club', 'Goals', 'Appearances'])

f = open("./raw-data/TopGoalScorers.txt", "r", encoding='utf-8')
lines = f.readlines()
for line in lines:
    year = line[:7]
    temp = line[7:].partition('(')
    player = temp[0]
    temp = temp[2].partition(')')
    club = temp[0]
    temp = temp[2].partition('(')
    NumOfGoals = temp[0]
    Appear = temp[2][:-2]
    
    PlayerSer = pd.Series ([year, player , club , NumOfGoals, Appear], 
                          index=['Year', 'Player', 'Club', 'Goals', 'Appearances'])
    TopGoalScorer = pd.concat([TopGoalScorer, pd.DataFrame(PlayerSer)], ignore_index=True)
    del PlayerSer
    #print(year + " --> " + player + " --> " + club + " --> " + NumOfGoals + " --> " + Appear)

In [26]:
TopGoalScorer.to_csv("../data-output/TopGoalScorer.csv", header=True, index=True)

In [27]:
f = open("./raw-data/GoalStatsPerRound.txt", "r", encoding='utf-8')
Header = f.readline()
Header = Header.split()
GoalStatsPerRound = pd.DataFrame(columns=Header)

lines = f.readlines()
for line in lines:
    splitline = line.split()
    splitline[0] = splitline[0].replace('-',' ').replace('Stage2', 'Stage 2')
    TempSer = pd.Series(splitline, index=Header)
    GoalStatsPerRound = pd.concat([GoalStatsPerRound,pd.DataFrame(TempSer)], ignore_index=True)

In [28]:
GoalStatsPerRound.to_csv(os.path.join(path, 'GoalStatsPerGroupRound.csv'), header=True, index=True)